// Nextflow configuration

process {
    executor = 'local'
    maxForks = 18  // Run 18 samples in parallel
}

// Where Nextflow stores temporary work files
workDir = './work'

// Execution report
timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}
